<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布局练习</title>
    <link href="../static/css/try.css" rel="stylesheet"/>
</head>
<body>
<div id="page_title">网页标题</div>
<div id="time">时间</div>
<div id="source_title">数据来源</div>
<div id="left">疫情数据总览</div>

<div id="middle">
    地图小标题
    <div id="map">地图</div>
    <div id="btn">全球现存/累计切换</div>
</div>

<div id="right">查询版块小标题
    <div id="etctitle">各个国家的数据</div>
    <div id="res_data">数据列表</div>
</div>
<div id="column">柱状图</div>
</body>
<html>
