body{
    margin: 0;
    background: #ffeb7b;
}
#page_title{
    background-color: #00f00f;
    position: absolute;
    width: 10%;
    height: 5%;
    /*margin: 10px 10px 10px 10px;*/
    border: darkred solid 3px;
}
#time{
    background-color: #02a6b5;
    position: absolute;
    width: 10%;
    height: 5%;
    left: 10%;
    /*margin: 0px 0px 0px 0px;*/
    border: darkred solid 3px;
}
#source_title{
    background-color: #123456;
    position: absolute;
    width: 20%;
    height: 5%;
    right: 0;
    /*margin: 10px 10px 10px 10px;*/
    border: darkred solid 3px;
}
#left{
    background-color: #FFB6C1;
    position: absolute;
    width: 20%;
    height: 65%;
    top: 5%;
    margin: 10px 10px 10px 0px;
    border: darkred solid 3px;
}
#middle{
    background: azure;
    position: absolute;
    height: 65%;
    width: 55%;
    top: 5%;
    left: 20%;
    margin: 10px 10px 10px 10px;
    border: darkred solid 3px;
}

#map{
    position: absolute;
    text-align: center;
    font-size: 20px;
    background: darkseagreen;
    top: 10%;
    margin: 10px 0px 10px 10px;
    height: 85%;
    width: 96%;
    border: darkred solid 3px;
}
#btn{
    position: absolute;
    text-align: center;
    background: darkseagreen;
    margin: 0px 10px 10px 10px;
    right: 10px;
    /*height: 5%;*/
    width: 20%;
    border: darkred solid 3px;
}
#right{
    position: absolute;
    text-align: center;
    font-size: 20px;
    background: deeppink;
    top: 30px;
    right: 0;
    margin: 10px 0 10px 10px;
    height: 92%;
    width: 23%;
    border: darkred solid 3px;
}
#column{
    position: absolute;
    left: 0;
    background: mediumpurple;
    margin: 10px 0 10px 0;
    height: 25%;
    width: 76%;
    top: 72%;
    border: darkred solid 3px;
}